
/*---------------------
  Login
-----------------------*/

.login {
	padding-top: 70px;
	padding-bottom: 70px;
}

.login__form {
	position: relative;
	padding-left: 145px;
}

.login__form:after {
	position: absolute;
	right: -14px;
	top: -40px;
	height: 330px;
	width: 1px;
	background: rgba(0, 0, 0, 0.2);
	content: "";
}

.login__form h1 {
	/* color: #ffffff; */
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	margin-bottom: 30px;
}

.login__form form .input__item {
	position: relative;
	width: 370px;
	margin-bottom: 20px;
}

.login__form form .input__item:before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background: #b7b7b7;
	content: "";
}

.login__form form .input__item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	background: #ffffff;
	/* border: none; */
	padding-left: 76px;
}

.login__form form .input__item input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::-moz-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input:-ms-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::-ms-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::placeholder {
	color: #b7b7b7;
}

.login__form form .input__item span {
	color: #b7b7b7;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.login__form form button {
	border-radius: 0;
	margin-top: 10px;
}

.login__form .forget_pass {
	font-size: 15px;
	/* color: #ffffff; */
	display: inline-block;
	position: absolute;
	right: 60px;
	bottom: 12px;
}

.login__register {
	padding-left: 30px;
}

.login__register h3 {
	/* color: #ffffff; */
	font-weight: 700;
	/* font-family: "Oswald", sans-serif; */
	margin-bottom: 30px;
}

.login__register .primary-btn {
	/* background: #e53637; */
	padding: 12px 42px;
}

.login__social {
	padding-top: 52px;
}

.login__social__links {
	text-align: center;
}

.login__social__links span {
	/* color: #ffffff; */
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.login__social__links ul li {
	list-style: none;
	margin-bottom: 15px;
}

.login__social__links ul li:last-child {
	margin-bottom: 0;
}

.login__social__links ul li a {
	color: #ffffff;
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 460px;
	padding: 14px 0;
	position: relative;
	margin: 0 auto;
}

.login__social__links ul li a.facebook {
	background: #4267b2;
}

.login__social__links ul li a.google {
	background: #ff4343;
}

.login__social__links ul li a.twitter {
	background: #1da1f2;
}

.login__social__links ul li a i {
	font-size: 20px;
	position: absolute;
	left: 32px;
	top: 14px;
}

/*---------------------
  Sign Up
-----------------------*/

.signup {
	padding-top: 70px;
	padding-bottom: 70px;
}

.signup .login__form:after {
	height: 450px;
}

.signup .login__form h5 {
	font-size: 15px;
	/* color: #ffffff; */
	margin-top: 36px;
}

.signup .login__form h5 a {
	color: #e53637;
	font-weight: 700;
}

.signup .login__social__links {
	text-align: left;
	padding-left: 40px;
}

.signup .login__social__links h3 {
	/* color: #ffffff; */
	font-weight: 700;
	/* font-family: "Oswald", sans-serif; */
	margin-bottom: 30px;
}

.signup .login__social__links ul li a {
	margin: 0;
	text-align: center;
}




@media only screen and (min-width: 768px) and (max-width: 991px){
	.login__form {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.login__form:after {
		display: none;
	}
	.login__form form .input__item {
		width: auto;
	}
	.login__register {
		padding-left: 0;
	}
	.signup .login__social__links {
		padding-left: 0;
	}
}

@media only screen and (max-width: 767px){
	.login__form {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.login__form:after {
		display: none;
	}
	.login__form form .input__item {
		width: auto;
	}
	.signup .login__social__links {
		padding-left: 0;
	}
	.login__social__links ul li a {
		width: auto;
	}
}

@media only screen and (max-width: 479px){
	.login__social__links ul li a i {
		left: 20px;
	}
	.login__form .forget_pass {
		position: relative;
		left: 0;
		bottom: 0;
		margin-top: 25px;
	}
}

